/*
Theme Name: Prostoy
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0-wpcom
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: prostoy
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 Prostoy is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

@import url('//yui.yahooapis.com/pure/0.5.0/pure-min.css');

body {
    background-color: #EEE;
	line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
	
}
html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: "Lato", sans-serif !important;
}
ul {
	list-style-type: none;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.center {
    text-align: center;
}
.solid-background {
	background: rgba(238,238,238,0.6);
}
.navigation-bar li, .navigation-bar li {
	display: inline-block;
}
.nav-element-container {
	padding: 1em;
	padding-left: 3em;
	padding-right: 3em;
}
@media screen and (min-width: 48em) {
	.nav-element-container {
		text-align: justify;
	}
	.nav-element-container:after {
		display: inline-block;
		content: '';
		width: 100%;
	}
	.nav-element-container a {
		display: inline-block;
	}
}
@media screen and (max-width: 48em) {
	.nav-element-container a {
		display: block;
	}
}
#content-holder {
	background-color: #DDD;
}
#masthead {
	height: 10em;
	background: url('img_0009e1.png');
	background-size: cover;
}
#content {
	padding-left: 1em;
	padding-right: 1em;
	text-align: justify;
}
#footer {
	color: #999;
	font-size: .75em;
}